<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ScalesManager.Properties.Settings.SCALES_MANAGER_DBConnectionString" connectionString="Data Source=.;Initial Catalog=SCALES_WITH_ALPR_DB;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="cam1" value=""/>
    <add key="cam2" value="rtsp://admin:123456@192.168.1.113:554"/>
    <add key="cam3" value="rtsp://admin:123456@192.168.1.114:554"/>
    <add key="cam4" value="rtsp://admin:123456@192.168.1.115:554"/>
    
    <add key="AUTO" value="1"/>
    <add key="COM" value="COM3"/>
    <add key="PRINT" value="0"/>
    <add key="SECRET_KEY" value="sk_f77fe161fcb3196bbafc3ba6"/>
  </appSettings>
</configuration>
